/* BodyStyles */

body
{
    font-family: Helvetica, Tahoma, sans-serif;
    background-color: black;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.5em;
    min-width: 980px;
    max-width: 1200px;
}

/* Section Styles */

section.mainContent
{
    position: relative;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    width: auto;
    height: auto;
    margin: 100px, 100px, 100px, 100px;
    padding: 15px;
    background-color: white;
    color: Black;

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}

/* Table Styles */

.tableContainer
{

    background-color: Maroon;
    width: auto;
    height: auto;

    margin: 50px 100px 50px 100px;

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;

}

table
{

    width: 99%;
    height: auto;
    border-collapse: collapse;
    padding: 10px;
    margin-left: 5.5px;
    margin-top: -30px;

}

table thead
{
    display: table-header-group;
    color: White;

}

table tbody
{

    color: black;
    background-color: White;
    padding: 10px;
    border-top: 2px solid maroon;
    border-right: 2px solid maroon;
    border-bottom: 2px solid maroon;
    border-left: 2px solid maroon;

}

table td
{

    padding: 8px;
    border-top: 2px solid maroon;
    border-right: 2px solid maroon;
    border-left: 2px solid maroon;
    color: black;
    background-color: White;

    -webkit-transition: margin .25s ease .01s, background-color 350ms linear;
    -moz-transition: margin .25s ease .01s, background-color 350ms linear;
    -o-transition: margin .25s ease .01s, background-color 350ms linear;
    -ms-transition: margin .25s ease .01s, background-color 350ms linear;
    transition: margin .25s ease .01s, background-color 350ms linear;

}

table tfoot td
{

    border: none;
    color: White;
    background-color: maroon;
    padding: 10px;
    text-align: center;

    -webkit-border-bottom-left-radius: 30px;
    -moz-border-bottom-left-radius: 30px;
    -ms-border-bottom-left-radius: 30px;
    -o-border-bottom-left-radius: 30px;
    border-bottom-left-radius: 30px;

    -webkit-border-bottom-right-radius: 30px;
    -moz-border-bottom-right-radius: 30px;
    -ms-border-bottom-right-radius: 30px;
    -o-border-bottom-right-radius: 30px;
    border-bottom-right-radius: 30px;

}

table tbody tr:hover td
{

    background: RGBA(128, 0, 0, .70);

    -webkit-transition: margin .25s ease .01s, background-color 350ms linear;
    -moz-transition: margin .25s ease .01s, background-color 350ms linear;
    -o-transition: margin .25s ease .01s, background-color 350ms linear;
    -ms-transition: margin .25s ease .01s, background-color 350ms linear;
    transition: margin .25s ease .01s, background-color 350ms linear;

}


/* Header Styles */

header
{

    margin: 0px 0px 0px 30px;

}

.contentHeading
{
    text-align: left;
    position: relative;
    color: #fff;
    margin: 0 0 30px -25px;
    padding: 10px 30px 10px 30px;
    background: maroon;

    -webkit-text-shadow: 0 1px rgba(0,0,0,.8);
    -moz-text-shadow: 0 1px rgba(0,0,0,.8);
    -ms-text-shadow: 0 1px rgba(0,0,0,.8);
    -o-text-shadow: 0 1px rgba(0,0,0,.8);
    text-shadow: 0 1px rgba(0,0,0,.8);

    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 0 2px 0 rgba(0,0,0,.3);
    -ms-box-shadow: 0 2px 0 rgba(0,0,0,.3);
    -o-box-shadow: 0 2px 0 rgba(0,0,0,.3);
    box-shadow: 0 2px 0 rgba(0,0,0,.3);
}

.contentHeading:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent;
    bottom: -10px;
}

.contentHeading:before
{
    border-width: 0 10px 10px 0;
    border-right-color: #222;
    left: 0;
}

/* Misc Styles */

p
{
    text-align: left;
}

span
{
    line-height: 24px;
    display: block;
    clear: right;
    color: red;
    width: auto;
    margin-left: 10px;
    text-align: left;
}

/* Form and Input Styles */

#searchForm
{
    display: inline;
    width: auto;
    float: left;
    margin-left: 11%;
}

#changeListing
{
    display: inline;
    width: auto;
    float: right;
    margin-right: 11%;
}

#logOutForm
{
    margin-left: 80%;
    margin-bottom: 5%;
}

.overflowContainer
{
    overflow: auto;
}

.inputForm
{

    width: auto;
    height: auto;

}

.inputForm label
{
    display: block;
    clear:left;
    float: left;
    margin-right: 0px;
    margin-left: 30%;
    text-align: left;
    width: 150px;
}

.inputForm input
{
    float: left;
    margin-right: 5px;
}

.inputForm #genderLabel
{
    width: 50px;
    clear: left;
}

.inputForm #lblMale
{
    display: inline;
    float: left;
    clear: none;
    width: 80px;
    margin-left: 0px;
}

.inputForm #lblFemale
{
    display: inline;
    float: left;
    clear: none;
    width: 80px;
    margin-left: -25px;
    margin-right: 10px;
}

.inputForm .submitBtn
{
    clear: both;
    margin-left: 50.2%;
}

.inputForm .submitBtn#loginBtn
 {
     clear: both;
     margin-left: 50.8%;
 }

.inputForm .submitBtn#registerBtn
{
    clear: both;
    margin-left: 49.2%;
}