

body
{
    width: 1000px;
}

h1
{
    margin-left: 15%;
}

form
{

    width: auto;

}
label
{
    display: block;
    clear:left;
    float: left;
    margin-right: 0px;
    margin-left: 20px;
    text-align: left;
    width: 150px;
}

input , select, textarea
{
    float: left;
    margin-right: 5px;
}

#submit
{
    clear: left;
    margin-left: 17%;
}


/**** Table Styles ****/

table
{
    border-collapse: separate;
}

table, th, td
{
    border: 1px solid black;
}

table tr:nth-child(odd)
{
    background: #CCC
}

