body
{
    width: 1000px;
    line-height: 1.5em;
}

form
{

    width: auto;

}
label
{
    display: block;
    clear:left;
    float: left;
    margin-right: 0px;
    margin-left: 15%;
    text-align: left;
    width: 100px;
}

input
{
    float: left;
    margin-right: 5px;
}

#submitBtn
{
    clear: left;
    margin-left: 15%;
}

#termsAndCon
{
    clear: left;
    margin-left: 15%;
}

#checkboxLbl
{
    display: block;
    float: left;
    clear: none;
    width: auto;
    margin-left: 0px;
}

span
{
    visibility: hidden;
    line-height: 27px;
    display: block;
    float: left;
    clear: right;
    color: red;
    margin-left: 10px;
}